---
layout: comments
---
<small class="post-date">
  {% if site.post.date.enable %}
  {{ site.post.date.alert }}
  {{ page.date | date_to_string }}
  {% endif %}
  {% if site.post.wordcount.enable %}
  {{ site.post.wordcount.alert }}
  {{ page.content | strip_html | strip_newlines | remove: " " | size }}{{ site.post.wordcount.unit }}
  {% endif %}
  {% if site.post.readtime.enable %}
  {{ site.post.readtime.alert }}
  {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: site.post.readtime.divided_by | plus: 1 }}{{ site.post.readtime.unit }}
  {% endif %}
  {% if site.post.visitor.enable %}
  <span id="{{ page.url }}" class="leancloud-visitors" data-flag-title="{{ page.title }}">
    {{ site.post.visitor.alert }}
    <span class="leancloud-visitors-count">
      <i class="fas fa-spinner fa-pulse"></i>
    </span>{{ site.post.visitor.unit }}
  </span>
  {% endif %}
  {% if site.post.categories.enable %}
  {% for node in page.categories %}
  {{ site.post.categories.alert }}
  {{ node }}
  {% endfor %}
  {% endif %}
  {% if site.post.tags.enable %}
  {% for node in page.tags %}
  {{ site.post.tags.alert }}
  {{ node }}
  {% endfor %}
  {% endif %}
  {{ site.post.copyright }}
  {% if page.background_music %}
  <div>
    {{ page.background_music }}
  </div>
  {% endif %}
</small>
{{ content }}

{% if site.comment_gitment_repo %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
		id: '<%= page.date %>',
        owner: 'm6master',
        repo: 'm6master.github.io',
        oauth: {
            client_id: '{{site.comment_gitment_clientId}}',
            client_secret: '{{site.comment_gitment_clientSecret}}',
        },
    });
    gitment.render('gitmentContainer')
</script>
{% endif %}